{% macro render_field(field) %}
<div class="form-group">
    <div class="col-lg-10">
        {{ field.label() }}
        {% if field.errors %}
            {{ field(class_='form-control form-control-lg is-invalid', **kwargs)|safe }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    <span>{{ error }}</span>
                </div>
            {% endfor %}
        {% else %}
            {{ field(class_='form-control form-control-lg', **kwargs)|safe }}
        {% endif %}

    </div>
</div>
{% endmacro %}

{% macro render_radio_fields(field) %}
<div class="form-group">
    <label class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
    {% for subfield in field %}
    <div class="radio">
        <label>
            {{ subfield }}
            {{ subfield.label.text }}
        </label>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}