{% extends 'layout.html' %}
{% set active_page = "users" %}
{% block title %}
    All Users
{% endblock title %}
{% block content %}
  <div id="app">
        <div class="form-check form-check-inline">
          <label for="my-input" class="form-check-label mr-2">Search users: </label>
          <input id="my-input" class="form-check-input" type="text" name="" placeholder="Search by email" ref="userSearch">
          <button @click="searchUsers" type="submit" class="btn btn-primary ml-2 mb-2  mr-sm-2"><i class="fas fa-search"></i></button>

          <label for="add-btn">add user</label>
          <button @click="createUserModal" id="add-btn" type="submit" class="btn btn-primary ml-2  mb-2"><i class="fas fa-plus"></i></button>
          <create-modal v-if="showCreateModal" @close="showCreateModal = false"  v-bind:user="userToCreate" @create-user="createUser">
            <p slot="edit-error" class="text-danger">${ error }</p>
            <h3 slot="header">Create User</h3>
          </create-modal>

        </div>
        <h2 v-if="search">There's ${totalUsers} users matched your search!</h2>
        <table class="table table-light table-hover">

            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "user" v-for="(user, index) in users" v-bind:key="user.public_id">
                    <th scope="row" v-bind:id="'id-' + user.id">${user.id}</th>
                    <td v-bind:id="'email-' + user.id">${user.email}</td>
                    <td v-bind:id="'first-name-' + user.id">${user.first_name}</td>
                    <td v-bind:id="'last-name-' + user.id">${user.last_name}</td>
                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">

                            <li class="list-inline-item">
                                <button @click="getToEditUser(user.id)" class="btn btn-success btn-sm rounded-0 edit-user" value="" type="button" data-toggle="modal" data-target="#editUser" data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                            </li>
                            <li class="list-inline-item">
                                <button @click="getToDeleteUser(user.id)" class="btn btn-danger btn-sm rounded-0 delete-user" value="" type="button" data-toggle="modal" data-target="#deleteUser" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                            </li>
                            <edit-modal v-if="showEditModal" @close="showEditModal = false" :user="userToEdit" @edit-user="updateUser">
                              <!--
                            you can use custom content here to overwrite
                            default content
                          -->
                              <p slot="edit-error" class="text-danger">${ error }</p>
                              <h3 slot="header">Edit User</h3>
                            </edit-modal>
                            <delete-modal v-if="showDeleteModal" @close="showDeleteModal = false"  v-bind:user="userToDelete" @delete-user="deleteUser">
                              <!--
                            you can use custom content here to overwrite
                            default content
                          -->

                              <h3 slot="header">Delete User!</h3>
                              <h4 slot="user-email">Delete user: "${userToDelete.email}" ?! </h4>
                              <p slot="delete-error" class="text-danger">${ error }</p>
                            </delete-modal>
                        </ul>

                    </td>
                </tr>
                <tr>
              </tr>
            </tbody>
        </table>
        <!-- try pagination  -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" v-if="page > 1">
              <button type="button" class="page-link"  @click="getPrevious"> Previous </button>
            </li>
            <li class="page-item">
              <button type="button"  v-for="pageNumber in pageNumbers.slice(page-1, page+5)" @click="getCurrentPage(pageNumber)" :class="{'highlight' : page==pageNumber, 'page-link':true}"> ${pageNumber} </button>
            </li>
            <li class="page-item" v-if="page < pageNumbers.length">
              <button type="button" @click="getNext" class="page-link"> Next </button>
            </li>
          </ul>
        </nav>
  </div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static', filename='hamada.js') }}"></script>
<script src="{{ url_for('static', filename='users.js') }}"></script>
<script type="text/x-template" id="edit-modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Edit User
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <form method="PATCH" action="">
                <div class="form-group">
                  <slot name="edit-error"></slot>
                  <label >Email</label>
                  <input  class="form-control" type="email"  :value="user.email" ref="userEmail">
                  <small id="editEmailError" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <label >First Name</label>
                  <input  class="form-control" type="text"  :value="user.first_name" ref="userFirstName">
                </div>
                <div class="form-group">
                  <label >Last Name</label>
                  <input  class="form-control" type="text" :value="user.last_name" ref="userLastName">
                </div>

              </form>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="close">Close</button>
              <button type="button" class="btn btn-primary" @click="editUser">Save</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<script type="text/x-template" id="delete-modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Delete User
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <form method="DELETE" action="">
                <div class="form-group">
                  <slot name="user-email"> </slot>
                  <slot name="delete-error"></slot>
                </div>
              </form>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$emit('close')">Close</button>
              <button type="button" class="btn btn-danger" @click="$emit('delete-user')">Delete</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<script type="text/x-template" id="create-modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Create User
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <form method="POST" action="">
                <div class="form-group">
                  <slot name="edit-error"></slot>
                  <label >Email</label>
                  <input  class="form-control" type="email" v-model="user.email">
                  <small id="createEmailError" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" type="text" v-model="user.first_name" >
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input id="last_name" class="form-control" type="text"  v-model="user.last_name">
                </div>
                <div class="form-group">
                  <label >Password</label>
                  <input class="form-control" type="password" v-model="user.password">
                </div>

              </form>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$emit('close')">Close</button>
              <button type="button" class="btn btn-primary" @click="$emit('create-user')">Add User</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
{% endblock script %}