{% from '_render_field.html' import render_field, render_radio_fields(field) %}
{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="content-section">

    <form method="POST" action="">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Login</legend>
            render_field(form.email)
            render_field(form.password)
            <div class="form-check">
                {{ form.remember(class="form-check-input" type="checkbox" name="" value="true") }}
                {{ form.remeber.label(class="form-check-label") }}

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <small class="text-muted ml-2">
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </small>
        </div>
    </form>

    </div>
{% endblock content %}
