{% from '_render_field.html' import render_field, render_radio_fields  %}

{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
    {% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Reigster</legend>
                render_field(form.email)
                render_field(form.password)
                render_field(form.confirm_password)
                render_field(form.first_name)
                render_field(form.last_name)
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
            </small>
        </div>
    </div>
    {% endblock content %}
